@font-face {
    font-family: Lato;
    src: url(font/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(font/Lato/Lato-Bold.ttf);
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: Lato, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(200deg 31% 27%);
  color: white;
  padding: 1em 0.5em;
  background-image: url('./img/bg-grid-2.jpg');
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
