@font-face {
    font-family: BirdfeedReg;
    src: url(font/Nunito-Regular.ttf);
}

@font-face {
    font-family: BirdfeedBold;
    src: url(font/Nunito-SemiBold.ttf); 
}

html {
  position: relative;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: BirdfeedReg, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(200deg 31% 27%);
  background-image: url('./img/bg-grid-2.jpg');
  color: hsl(200, 10%, 20%) !important;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
