@font-face {
    font-family: Lato;
    src: url(font/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(font/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(font/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: RalewayBold;
    src: url(font/NotoSansJP-Medium.otf);
}


html {
  position: relative;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: Lato, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(200deg 31% 27%);
  color: white;
  background-image: url('./img/bg-grid-2.jpg');
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
